.SERVICIOSrow0 {
  display: flex;
  margin-left: 75px;
  margin-top: 1px;
  width: 1123px;
  height: 118px
}
.style5 {
  margin-left: 0;
  margin-top: 3px;
  width: 107px;
  height: 118px
}
.SERVICIOSrow0column1 {
  display: flex;
  margin-left: 19px;
  width: 997px;
  height: 88px;
  flex-direction: column
}
.SERVICIOSrow0column1textarea1row0 {
  display: flex;
  margin-left: 6px;
  width: 975px;
  height: 30px;
  align-items: center
}
.style6 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0;
  height: 100%
}
.SERVICIOSrow0column1textarea1row0unsupported0 {
  margin-left: 48px;
  width: 433px;
  height: 25px
}
.SERVICIOSrow0column1textarea1row0unsupported1 {
  margin-left: 26px;
  width: 30px;
  height: 100%
}
.SERVICIOSrow0column1textarea1row0unsupported2 {
  margin-left: 10px;
  width: 30px;
  height: 100%
}
.SERVICIOSrow0column1textarea1row0unsupported3,
.SERVICIOSrow0column1textarea1row0unsupported4 {
  margin-left: 15px;
  width: 30px;
  height: 100%
}
.style2,
.style7 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif
}
.style7 {
  background-color: #ffbf00;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-indent: 14px;
  margin-top: 25px;
  width: 427px;
  font-size: 1.125em;
  margin-left: 491px;
  height: 28px
}
.style2 {
  text-align: center;
  font-size: 2.1875em;
  margin-left: 504px;
  height: 40px
}
.style9 {
  background-image: url(https://designresources.assets.yotako.io/40599ueji9muosb.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 773px;
  flex-direction: column
}
.style10 {
  color: #000;
  font-size: 2.1875em;
  margin-left: 486px;
  margin-top: 55px;
  height: 40px
}
.style10,
.style11,
.style12 {
  font-family: BalsamiqSans,serif
}
.style11 {
  text-align: center;
  width: 795px;
  font-size: 1.4375em;
  margin-left: 230px;
  margin-top: 15px
}
.style12 {
  color: #000;
  font-size: 2.1875em;
  margin-left: 512px;
  margin-top: 36px;
  height: 40px
}
.style13 {
  text-align: center;
  font-size: 1.4375em;
  margin-left: 235px;
  margin-top: 15px;
  width: 795px
}
.style13,
.style14,
.style15 {
  font-family: BalsamiqSans,serif
}
.style14 {
  color: #000;
  height: 40px;
  font-size: 2.1875em;
  margin-left: 516px;
  margin-top: 40px
}
.style15 {
  text-align: center;
  font-size: 1.4375em;
  margin-left: 230px;
  margin-top: 15px;
  width: 795px
}
.POLTICASrow0 {
  display: flex;
  margin-left: 75px;
  margin-top: 1px;
  width: 1123px;
  height: 118px
}
.style20 {
  margin-left: 0;
  margin-top: 3px;
  width: 107px;
  height: 118px
}
.POLTICASrow0column1 {
  display: flex;
  margin-left: 19px;
  width: 997px;
  height: 88px;
  flex-direction: column
}
.POLTICASrow0column1textarea1row0 {
  display: flex;
  margin-left: 6px;
  width: 975px;
  height: 30px;
  align-items: center
}
.style21 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0;
  height: 100%
}
.POLTICASrow0column1textarea1row0unsupported0 {
  margin-left: 48px;
  width: 433px;
  height: 25px
}
.POLTICASrow0column1textarea1row0unsupported1 {
  margin-left: 30px;
  width: 30px;
  height: 100%
}
.POLTICASrow0column1textarea1row0unsupported2 {
  margin-left: 6px;
  width: 30px;
  height: 100%
}
.POLTICASrow0column1textarea1row0unsupported3,
.POLTICASrow0column1textarea1row0unsupported4 {
  margin-left: 15px;
  width: 30px;
  height: 100%
}
.style22,
.style25 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif
}
.style22 {
  background-color: #ffbf00;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-indent: 14px;
  width: 427px;
  font-size: 1.125em;
  margin-left: 491px;
  margin-top: 25px;
  height: 28px
}
.style25 {
  text-align: center;
  font-size: 2.1875em;
  margin-left: 342px;
  margin-top: 21px;
  height: 40px
}
.style24 {
  background-image: url(https://designresources.assets.yotako.io/40599ueji9muot8.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 773px;
  flex-direction: column
}
.style26 {
  margin-left: 93px;
  margin-top: 26px;
  width: 943px
}
.style26,
.style27,
.style28 {
  font-family: BalsamiqSans,serif;
  font-size: 1.4375em
}
.style27 {
  width: 943px;
  margin-left: 93px;
  margin-top: 0
}
.style28 {
  margin-left: 761px;
  margin-top: 1px;
  height: 34px
}
.NOSOTROSrow0 {
  display: flex;
  margin-left: 77px;
  margin-top: 4px;
  width: 1123px;
  height: 118px
}
.style40 {
  margin-left: 0;
  margin-top: 3px;
  width: 107px;
  height: 118px
}
.NOSOTROSrow0column1 {
  display: flex;
  margin-left: 19px;
  width: 997px;
  height: 88px;
  flex-direction: column
}
.NOSOTROSrow0column1textarea1row0 {
  display: flex;
  margin-left: 6px;
  width: 975px;
  height: 30px;
  align-items: center
}
.style41 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0;
  height: 100%
}
.NOSOTROSrow0column1textarea1row0unsupported0 {
  margin-left: 48px;
  width: 433px;
  height: 25px
}
.NOSOTROSrow0column1textarea1row0unsupported1 {
  margin-left: 26px;
  width: 30px;
  height: 100%
}
.NOSOTROSrow0column1textarea1row0unsupported2 {
  margin-left: 10px;
  width: 30px;
  height: 100%
}
.NOSOTROSrow0column1textarea1row0unsupported3,
.NOSOTROSrow0column1textarea1row0unsupported4 {
  margin-left: 15px;
  width: 30px;
  height: 100%
}
.style32,
.style42 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif
}
.style42 {
  background-color: #ffbf00;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-indent: 14px;
  margin-top: 25px;
  width: 427px;
  font-size: 1.125em;
  margin-left: 491px;
  height: 28px
}
.style32 {
  text-align: center;
  font-size: 2.1875em;
  margin-left: 531px;
  height: 40px
}
.style29 {
  background-image: url(https://designresources.assets.yotako.io/40599ueji9muouw.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 773px;
  flex-direction: column
}
.style33,
.style34 {
  font-family: BalsamiqSans,serif
}
.style33 {
  color: #000;
  height: 40px;
  font-size: 2.1875em;
  margin-left: 561px;
  margin-top: 38px
}
.style34 {
  text-align: center;
  font-size: 1.4375em;
  margin-left: 214px;
  margin-top: 11px;
  width: 795px
}
.style35 {
  color: #000;
  font-size: 2.1875em;
  margin-left: 562px;
  margin-top: 19px;
  height: 40px
}
.style35,
.style36,
.style37 {
  font-family: BalsamiqSans,serif
}
.style36 {
  text-align: center;
  width: 795px;
  font-size: 1.4375em;
  margin-left: 207px;
  margin-top: 10px
}
.style37 {
  color: #000;
  font-size: 2.1875em;
  margin-left: 540px;
  margin-top: 32px;
  height: 40px
}
.INICIOrow0 {
  display: flex;
  margin-left: 75px;
  margin-top: 1px;
  width: 1123px;
  height: 118px
}
.style49 {
  margin-left: 0;
  margin-top: 3px;
  width: 107px;
  height: 118px
}
.INICIOrow0column1 {
  display: flex;
  margin-left: 19px;
  width: 997px;
  height: 88px;
  flex-direction: column
}
.INICIOrow0column1textarea1row0 {
  display: flex;
  margin-left: 6px;
  width: 975px;
  height: 30px;
  align-items: center
}
.style50 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0;
  height: 100%
}
.INICIOrow0column1textarea1row0unsupported0 {
  margin-left: 48px;
  width: 433px;
  height: 25px
}
.INICIOrow0column1textarea1row0unsupported1 {
  margin-left: 26px;
  width: 30px;
  height: 100%
}
.INICIOrow0column1textarea1row0unsupported2 {
  margin-left: 10px;
  width: 30px;
  height: 100%
}
.INICIOrow0column1textarea1row0unsupported3,
.INICIOrow0column1textarea1row0unsupported4 {
  margin-left: 15px;
  width: 30px;
  height: 100%
}
.style46,
.style51 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif
}
.style51 {
  background-color: #ffbf00;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-indent: 14px;
  margin-top: 25px;
  width: 427px;
  font-size: 1.125em;
  margin-left: 491px;
  height: 28px
}
.style46 {
  text-align: center;
  font-size: 2.1875em;
  margin-left: 544px;
  height: 40px
}
.style53,
.style54 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  height: 773px;
  flex-direction: column
}
.style53 {
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  align-items: stretch;
  background-image: url(https://designresources.assets.yotako.io/40599ueji9muoyh.jpg)
}
.style54 {
  background-image: url(https://designresources.assets.yotako.io/40599ueji9mup12.png)
}
.style55,
.style56,
.style57 {
  font-family: BalsamiqSans,serif;
  font-size: 2.5625em;
  margin-left: 280px;
  margin-top: 94px;
  height: 50px
}
.style56,
.style57 {
  margin-left: 277px;
  margin-top: 23px
}
.style57 {
  margin-left: 279px
}
.CONTACTOrow0 {
  display: flex;
  margin-left: 75px;
  margin-top: 1px;
  width: 1123px;
  height: 118px
}
.style62 {
  margin-left: 0;
  margin-top: 3px;
  width: 107px;
  height: 118px
}
.CONTACTOrow0column1 {
  display: flex;
  margin-left: 19px;
  width: 997px;
  height: 88px;
  flex-direction: column
}
.CONTACTOrow0column1textarea1row0 {
  display: flex;
  margin-left: 6px;
  width: 975px;
  height: 30px;
  align-items: center
}
.style63 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0;
  height: 100%
}
.CONTACTOrow0column1textarea1row0unsupported0 {
  margin-left: 48px;
  width: 433px;
  height: 25px
}
.CONTACTOrow0column1textarea1row0unsupported1 {
  margin-left: 26px;
  width: 30px;
  height: 100%
}
.CONTACTOrow0column1textarea1row0unsupported2 {
  margin-left: 10px;
  width: 30px;
  height: 100%
}
.CONTACTOrow0column1textarea1row0unsupported3,
.CONTACTOrow0column1textarea1row0unsupported4 {
  margin-left: 15px;
  width: 30px;
  height: 100%
}
.style64,
.style67 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif
}
.style64 {
  background-color: #ffbf00;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-indent: 14px;
  margin-top: 25px;
  width: 427px;
  font-size: 1.125em;
  margin-left: 491px;
  height: 28px
}
.style67 {
  text-align: center;
  font-size: 2.1875em;
  margin-left: 350px;
  height: 40px
}
.style66 {
  background-image: url(https://designresources.assets.yotako.io/40599ueji9mupqf.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 773px;
  flex-direction: column
}
.style80 {
  font-family: BalsamiqSans,serif;
  font-size: 2.1875em;
  margin-left: 63px;
  margin-top: 7px;
  height: 45px
}
.CONTACTOimage1row1 {
  display: flex;
  margin-left: 64px;
  margin-top: 4px;
  width: 942px;
  height: 46px;
  align-items: stretch
}
.style68,
.style69 {
  font-family: BalsamiqSans,serif;
  font-size: 2.1875em;
  margin-left: 0
}
.style69 {
  background-color: #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
  text-indent: 6px;
  margin-left: 6px;
  width: 770px
}
.CONTACTOimage1row2 {
  position: relative;
  display: flex;
  margin-left: 64px;
  margin-top: 1px;
  width: 940px;
  height: 46px
}
.style71,
.style72 {
  font-family: BalsamiqSans,serif;
  font-size: 2.1875em;
  flex-shrink: 0
}
.style71 {
  position: relative;
  margin-top: 8px;
  margin-left: 0;
  height: 45px
}
.style72 {
  background-color: #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
  text-indent: 6px;
  margin-left: 5px;
  width: 770px;
  height: 100%;
  align-self: stretch
}
.CONTACTOimage1row3 {
  display: flex;
  margin-left: 80px;
  margin-top: 4px;
  width: 925px;
  height: 46px;
  align-items: stretch
}
.style74,
.style75 {
  font-family: BalsamiqSans,serif;
  font-size: 2.1875em;
  margin-left: 0
}
.style75 {
  background-color: #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
  text-indent: 6px;
  margin-left: 3px;
  width: 770px
}
.CONTACTOimage1row4 {
  position: relative;
  display: flex;
  margin-left: 74px;
  margin-top: 3px;
  width: 930px;
  height: 46px
}
.style77,
.style78 {
  font-family: BalsamiqSans,serif;
  font-size: 2.1875em;
  flex-shrink: 0
}
.style77 {
  position: relative;
  margin-top: 6px;
  margin-left: 0;
  height: 45px
}
.style78 {
  background-color: #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
  text-indent: 6px;
  margin-left: 4px;
  width: 770px;
  height: 100%;
  align-self: stretch
}
.CONTACTOimage1row5 {
  display: flex;
  margin-left: 46px;
  margin-top: 12px;
  width: 956px;
  height: 405px
}
.style81 {
  font-family: BalsamiqSans,serif;
  font-size: 2.1875em;
  margin-left: 0;
  height: 45px
}
.style82,
.style84 {
  background-color: #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style82 {
  color: #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.4375em;
  text-indent: 6px;
  margin-left: 185px;
  width: 771px;
  height: 100%
}
.style84 {
  box-shadow: 1px 1px 0 0 #000;
  display: flex;
  margin-left: 236px;
  margin-top: 29px;
  width: 146px;
  height: 50px;
  align-items: stretch;
  flex-direction: column
}
.style85 {
  color: #fff;
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 2.5625em;
  height: 45px
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.UBICACINrow0 {
  display: flex;
  margin-left: 75px;
  margin-top: 1px;
  width: 1123px;
  height: 118px
}
.style90 {
  margin-left: 0;
  margin-top: 3px;
  width: 107px;
  height: 118px
}
.UBICACINrow0column1 {
  display: flex;
  margin-left: 19px;
  width: 997px;
  height: 88px;
  flex-direction: column
}
.UBICACINrow0column1textarea1row0 {
  display: flex;
  margin-left: 6px;
  width: 975px;
  height: 30px;
  align-items: center
}
.style91 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0;
  height: 100%
}
.UBICACINrow0column1textarea1row0unsupported0 {
  margin-left: 48px;
  width: 433px;
  height: 25px
}
.UBICACINrow0column1textarea1row0unsupported1 {
  margin-left: 26px;
  width: 30px;
  height: 100%
}
.UBICACINrow0column1textarea1row0unsupported2 {
  margin-left: 10px;
  width: 30px;
  height: 100%
}
.UBICACINrow0column1textarea1row0unsupported3,
.UBICACINrow0column1textarea1row0unsupported4 {
  margin-left: 15px;
  width: 30px;
  height: 100%
}
.style92,
.style95 {
  color: #ffbf00;
  font-family: BalsamiqSans,serif
}
.style92 {
  background-color: #ffbf00;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-indent: 14px;
  margin-top: 25px;
  width: 427px;
  font-size: 1.125em;
  margin-left: 491px;
  height: 28px
}
.style95 {
  text-align: center;
  font-size: 2.1875em;
  margin-left: 388px;
  height: 40px
}
.style94 {
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 773px
}